
@import url(https://www.w3schools.com/w3css/4/w3.css);

* {
	box-sizing: border-box;
}
html, body {
	margin: 0.0;
	height: 100vh;	width: 100vw;
}

.main-container {
	width: 100%;	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(12deg, crimson, deeppink);
}

.main-navigation {
	width: 150px;	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.main-navigation * {
	width: 100%;
}

.main-content {
	width: calc(100% - 150px);	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}